@model IEnumerable<Web.Data.Models.Database.Permintaan>

@{
	ViewData["Title"] = "Person";
	Layout = "_LayoutLTE";
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				@*<h1>Kategori</h1>*@
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
					<li class="breadcrumb-item active">Permintaan</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Permintaan</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example2" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>@Html.DisplayNameFor(model => model.permintaan_no)</th>
									@*<th>@Html.DisplayNameFor(model => model.LastName)</th>
									<th>@Html.DisplayNameFor(model => model.Age)</th>*@
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								@{
									foreach (var m in Model)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => m.permintaan_no)
											</td>
											<td class="table-action" data-url-delete="@Url.RouteUrl(new { action = "delete", controller = "permintaan", area = "" })/@m.permintaan_no"
												data-url-back="@Url.RouteUrl(new { action = "index", controller = "permintaan", area = "" })">
												<a class="ml-0" asp-action="addedit" asp-controller="permintaan" asp-area="" asp-route-id="@m.permintaan_no" data-rel="tooltip" title="Edit">
													<span><i class="fa fa-edit"></i></span>
												</a>
												<a class="ml-2" href="javascript:void(0);" onclick="callDelete(this)" data-rel="tooltip" title="Hapus">
													<span><i class="fa fa-trash"></i></span>
												</a>
											</td>

										</tr>
									}
								}
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
						<a asp-action="Add" asp-controller="Permintaan" role="button" class="btn btn-primary mt-4">Add New</a>
						<button class="btn btn-primary mt-4" id="btnSave">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts{
	<script type="text/javascript">
		$("#btnSave").on('click', function () {

			//	[Key, Required]
			//	[MaxLength(20), StringLength(20)]
			//	[DisplayName("Permintaan No")]
			//		public string permintaan_no { get; set; }

			//[DisplayName("Permintaan Kategori")]
			//		public int ? permintaan_kategori { get; set; }

			var permintaan = {
				'a': "",
				'b':""
			}
			var items = {
				'permintaan_no': "1",
				'permintaan_kategori': 0,
			}

			$.ajax({
				type: "POST",
				url: '/Permintaan/AddEdit',
				//url: "http://localhost:5149/api/pengadaan",
				data: JSON.stringify(items),
				dataType: 'JSON',
				contentType: 'application/json; charset=utf-8',
				success: function (data) {
					alert("S")
				},
				error: function () {
					alert("There is some problem to adding the data.");
				}
			});
		});
	</script>
}