@model IEnumerable<Web.Data.Models.Database.Kategori>

@{
	ViewData["Title"] = "Person";
	Layout = "_LayoutLTE";
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				@*<h1>Kategori</h1>*@
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
					<li class="breadcrumb-item active">Kategori</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Kategori</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example2" class="table table-bordered table-hover">
							<thead>
								<tr>
									<td>No</td>
									<th>@Html.DisplayNameFor(model => model.nama_kategori)</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								@{
									int num = 1;
									foreach (var m in Model)
									{
										<tr>
											<td>@num</td>
											<td>
												@Html.DisplayFor(modelItem => m.nama_kategori)
											</td>
											<td class="table-action" data-url-delete="@Url.RouteUrl(new { action = "delete", controller = "kategori", area = "" })/@m.kategori_id"
												data-url-back="@Url.RouteUrl(new { action = "index", controller = "kategori", area = "" })">
												<a class="ml-0" asp-action="addedit" asp-controller="kategori" asp-area="" asp-route-id="@m.kategori_id" data-rel="tooltip" title="Edit">
													<span><i class="fa fa-edit"></i></span>
												</a>
												<a class="ml-2" href="javascript:void(0);" onclick="callDelete(this)" data-rel="tooltip" title="Hapus">
													<span><i class="fa fa-trash"></i></span>
												</a>
											</td>
										</tr>

										num++;
									}
								}
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
						<a asp-action="AddEdit" asp-controller="Kategori" role="button" class="btn btn-primary mt-4">Add New</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>